* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    color: white;
    background-color: #525252;
    padding: 0;
    margin: 0;
}

img {
    -webkit-user-drag: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f072c;

}

.weather-box {
    background-color: #333333;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 625px;
    width: 450px;
    border-radius: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    margin-top: 5px;
}

.locate-img {
    margin-left: 5px;
}

.search-img {
    margin-right: 5px;
}

.locate-img, .search-img {
    cursor: pointer;
    background: gray;
    padding: 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    transition: background-color 0.3s;
}

.locate-img:hover, .search-img:hover {
    background: #9300FF;
}

.search-bar {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 8px;
    padding-right: 10px;
    background-color: transparent;
}

input, .search-bar::placeholder {
    color: gray;
    font-size: 15px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
}

.location-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: 110px;
}

.location-name {
    width: 97%;
    background: #5c5c5c;
    border-radius: 15px;
    overflow: hidden;
}

.location-name h1 {
    font-weight: 700;
    font-size: 60px;
    white-space: nowrap;
}

.scroll-animation {
    animation: scroll 10s ease-in-out infinite;
}

:root {
    --scroll-percent: -50%;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(var(--scroll-percent));
    }
    100% {
        transform: translateX(0%);
    }
}

.temperature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333333;
    width: 100%;
    height: 350px;
}

.temperature-box h1 {
    font-weight: 500;
}

.temperature-box img {
    height: 250px;
    width: 250px;
}

.fading-text {
    background: linear-gradient(to bottom, white 35%, transparent 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 90px;
  }
  
.misc-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #333333;
}

.misc-container img {
    height: 45px;
    width: 45px;
}

.misc-category {
    width: 32%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: #5c5c5c;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.misc-category h1 {
    font-weight: 400;
}

.misc-image-label {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}